html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

#indx-welcome {
    background-color: #286090;
    border-radius: 3px;
    padding: 15px;
    height: auto;
    background-image: url(http://fondopantalla.com.es/file/421/1400x1050/crop/fondo-de-pantalla-degradado-azul.jpg);
}

#indx-welcome p {
    color: #eff7f9;
    font-weight: bold;
}

#indx-welcome img {
    max-height: 100px;
}

.right {
    float: right;
}

#delivery-table tr td a {
    text-decoration: none;
}

.info {
    margin-top: -2px;
    height: 16px;
    width: 16px;
}

#datepicker-btn {
    border: 1px solid #DDDDDD;
    margin-top: -8px;
}

#shop-dropdown {
    border: 1px solid #DDDDDD;
    width: 90%;
}

.datepicker-inline {
    margin-top: 20px;
}

.datepicker-inline * {
    display: inline;
}

.inline {
    display: inline;
}

#map_logo {
    border-radius: 3px;
}

.info {
    color: #337AB7;
}

.delivered {
    color: #32b53f;
}

.not-delivered {
    color: #b53232;
}

.item {
    width: auto;
    height: auto;
    max-width: 50px;
    max-height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.big-btn {
    min-width: 120px;
}

.med-btn {
    min-width: 150px;
}

#new-order {
    background-color: #dcebf7;
    margin-left: auto;
    margin-right: auto;
    max-width: 390px;
    padding: 5px;
    border-radius: 2px;
}

#new-order-sel {
    background-color: #dcebf7;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    padding: 6px;
    border-radius: 3px;
}

#new-order-form {
    background-color: #dcebf7;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    padding: 15px;
    border-radius: 3px;
}

.map-center {
    margin-left: auto;
    margin-right: auto;
}